doctype html
html
  head
    h1 #{main}

  body
    p На відміну від електричних, оптичні кабелі складаються не з мідних чи алюмінієвих провідників, а з тонких скляних чи полімерних ниток. Кожна з них ізольована від інших, що створює умови для передавання світлових імпульсів на кілька кілометрів з мінімальним рівнем перешкод і згасання сигналу. Це дозволяє отримати набагато більшу відстань зв’язку та високу пропускну здатність. Оптичне волокно майже нечутливо до будь-яких типів перешкод, а тому перехопити чи викривити сигнал без пошкодження кабелю фактично неможливо. Варто також згадати, що сучасні полімерні нитки набагато міцніше металів і мають більший термін експлуатації, що підвищує надійність інфраструктури та зменшує витрати на її обслуговування.

  img(src='https://deps.ua/images/news/market_news/2021/07/image.jpg' alt='Оптоволокно' wight='500') 

  h2 Як працює оптоволоконний кабель?
  p Сучасні оптичні кабелі складаються з наступних компонентів:

ul
  li Серцевина — світлопровідна нитка з кварцового скла товщиною 125 мікронів.
  li Оптична оболонка — відбиває світловий сигнал.
  li Буферна оболонка — захищає нитки від пошкоджень.
  li Захисне покриття — полімерна чи металева ізоляція.

p В одному кабелі може знаходитися до 96 ниток, що забезпечує високу пропускну здатність і дозволяє отримувати стабільну швидкість інтернету для багатьох абонентів одночасно.

p Робота оптичного волокна стає можливою завдяки явищу повного внутрішнього відбивання. Коли світло потрапляє на межу двох матеріалів, наприклад, води та повітря чи скла та ізоляції, воно може повністю відбиватися всередину, не виходячи назовні та не розсіюючись. Це відбувається при певному куті контакту, який називається критичним. Таким чином світлові імпульси можуть подорожувати всередині кабелю на багато кілометрів, практично не втрачаючи енергії.


